@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer utilities {
  .gradientColour {
    background: linear-gradient(
      90deg,
      rgba(234, 51, 166, 1) 0%,
      rgba(101, 47, 231, 1) 42%,
      rgba(155, 95, 205, 1) 60%,
      rgba(219, 231, 25, 1) 100%
    );
  }
  .gradientColour2 {
    background: linear-gradient(
      90deg,
      rgba(219, 231, 25, 1) 0%,
      rgba(155, 95, 205, 1) 42%,
      rgba(101, 47, 231, 1) 60%,
      rgba(234, 51, 166, 1) 100%
    );
  }
  .bordergradientColour {
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      90deg,
      rgba(234, 51, 166, 1) 0%,
      rgba(101, 47, 231, 1) 42%,
      rgba(155, 95, 205, 1) 60%,
      rgba(219, 231, 25, 1) 100%
    );
  }
}
